{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<h1 class='container' align='center'>Siz tizimga kirgansiz</h1>
{% else %}
<form method="post" class="container">
    {% csrf_token %}
    <label class="form-label" for="username">Foydalanuvchi nomi</label>
    <input type="text" name="username" placeholder="Foydalanuvchi nomi" class="form-control">

    <label class="form-label" for="password">Paroli</label>
    <input type="password" name="password" placeholder="Foydalanuvchi paroli" class="form-control">

    <input type="submit" value="login" class="btn btn-primary btn-block">
</form>

{% endif %}
{% endblock %}